{{ define "ui_node_input_default" }}
<div>
  {{ $title := .Attributes.UiNodeInputAttributes.Name }}
  {{ if .Meta.Label }}
    {{ if .Meta.Label.Text }}
      {{ $title = .Meta.Label.Text }}
    {{ end }}
  {{ end }}
  <label>
    <span>{{ $title }}</span><br />
    <input
      type="{{ .Attributes.UiNodeInputAttributes.Type }}"
      name="{{ .Attributes.UiNodeInputAttributes.Name }}"
      value="{{ if .Attributes.UiNodeInputAttributes.Value }}{{ .Attributes.UiNodeInputAttributes.Value }}{{ end }}"
      placeholder="{{ $title }}"
      {{ if .Attributes.UiNodeInputAttributes.Disabled }}disabled{{ end }}
      style="width: 100%"
    />
  </label>
  {{ template "messages" .Messages }}
</div>
{{ end }}
